#searchbox a, #searchbox img {
	border: 0px;
	vertical-align: middle;
}

@media screen and (-webkit-device-pixel-ratio: 2.0) {
	#searchbox #goButton {
		background-image: url(images/s-xhdpi.png) !important;
	}
}

#ogg_player_1 {
	display: none;
}

#search {
	height: 1.3em;
}

